In [6]:
## Exercise 3 - Introduction
"""
## Introduction
This notebook contains exercises related to Data Science concepts, languages, and libraries.
"""

'\n## Introduction\nThis notebook contains exercises related to Data Science concepts, languages, and libraries.\n'

In [8]:
## Exercise 4 - List Data Science Languages
"""
## Data Science Languages
- Python
- R
- SQL
- Julia
- Scala
- Java
- C++
- JavaScript
"""

'\n## Data Science Languages\n- Python\n- R\n- SQL\n- Julia\n- Scala\n- Java\n- C++\n- JavaScript\n'

In [10]:

## Exercise 5 - List Data Science Libraries
"""
## Data Science Libraries
- NumPy
- Pandas
- Matplotlib
- Seaborn
- Scikit-learn
- TensorFlow
- PyTorch
- Keras
"""

'\n## Data Science Libraries\n- NumPy\n- Pandas\n- Matplotlib\n- Seaborn\n- Scikit-learn\n- TensorFlow\n- PyTorch\n- Keras\n'

In [12]:
## Exercise 6 - Table of Data Science Tools
from tabulate import tabulate

data = [['Jupyter Notebook', 'Data Analysis & Visualization'],
        ['RStudio', 'Statistical Computing'],
        ['Apache Spark', 'Big Data Processing'],
        ['TensorFlow', 'Machine Learning'],
        ['Tableau', 'Data Visualization']]

print(tabulate(data, headers=['Tool', 'Purpose'], tablefmt='grid'))

+------------------+-------------------------------+
| Tool             | Purpose                       |
+==================+===============================+
| Jupyter Notebook | Data Analysis & Visualization |
+------------------+-------------------------------+
| RStudio          | Statistical Computing         |
+------------------+-------------------------------+
| Apache Spark     | Big Data Processing           |
+------------------+-------------------------------+
| TensorFlow       | Machine Learning              |
+------------------+-------------------------------+
| Tableau          | Data Visualization            |
+------------------+-------------------------------+

In [14]:
## Exercise 7 - Arithmetic Expressions
"""
## Arithmetic Expressions
Examples:
- Addition: 5 + 3 = 8
- Multiplication: 4 * 2 = 8
- Division: 10 / 2 = 5
- Exponentiation: 2 ** 3 = 8
"""

'\n## Arithmetic Expressions\nExamples:\n- Addition: 5 + 3 = 8\n- Multiplication: 4 * 2 = 8\n- Division: 10 / 2 = 5\n- Exponentiation: 2 ** 3 = 8\n'

In [16]:
## Exercise 8 - Code Cell for Multiplication and Addition
# Multiply and add two numbers
a = 5
b = 3
result = a * b + 10
print("Result:", result)

Result: 25

In [22]:
## Exercise 9 - Code Cell to Convert Minutes to Hours
# Convert minutes to hours
def minutes_to_hours(minutes):
    return minutes / 60

minutes = 150
hours = minutes_to_hours(minutes)
print(f"{minutes} minutes is {hours} hours")

150 minutes is 2.5 hours

In [24]:
## Exercise 10 - List Objectives
"""
## Objectives
- Learn Markdown formatting
- Understand basic arithmetic operations
- Use Python for simple calculations
- Share notebooks on GitHub
"""

'\n## Objectives\n- Learn Markdown formatting\n- Understand basic arithmetic operations\n- Use Python for simple calculations\n- Share notebooks on GitHub\n'

In [26]:
## Exercise 11 - Authorâ€™s Name
"""
## Author
**Name:** Tafseer Hussain
"""

'\n## Author\n**Name:** Tafseer Hussain\n'